/* Colores de los estilos de la página*/
:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
  --other-grey: #757575;
} 

*
{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
html
{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}
/* Aquí empieza la maquetación de la página*/
.page-container
{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer"
  ;
}
.page-section 
{
  /*
  Colocaré algo aquí si hay algo repetido
  Generalmente en esta sección se coloca
  estilos que se repite en común con otras secciones
  como header, main, footer
  */
}

/* Aquí empieza los estilos del header*/

.page-section-header
{
  grid-area: header;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.page-section-header .logo
{
  width: 150px;
  height: 24px;
  margin-top: 60px; 
  align-self: center;
}
.header--title_container
{
  width: 90%;
  min-width: 228px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
}
.header--title_container h1
{
  font-size: 2.4rem;  
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title_container p
{
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title_container .header--button
{
  position: absolute;
  top: calc(100% - 24px);
  left: calc(50% - 114.5px);
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Sombra del boton*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  padding-top: 15px;
}
.header--button span
{
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 8px;
  background-image: url('https://res.cloudinary.com/dp852gaey/image/upload/v1685470828/responsive-design/assets/icons/down-arrow_soikyv.svg');
}

/*
  Aquí empiezan los estilos de la sección main y terminan todos los estilos de header
  También empieza la primera sección de main.
 */
.page-section-main
{
  width: 100%;
  height: auto;
  background: var(--off-white);
}
.main-exchange-container
{
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title
{
  width: 90%;
  min-width: 228px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container .bitcoin-image
{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('https://res.cloudinary.com/dp852gaey/image/upload/v1685470658/responsive-design/assets/img/Bitcoin_va5jed.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container h2
{
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container p
{
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--other-grey);
}

/* Aquí empiezan la sección de tabla en main con la información de las criptomoneda
   Son 2 tablas en total
 */

.main-tables-container
{
}
.cryptocurrency-table
{
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  display: grid;
  font-family: "Inter", sans-serif;
}
.cryptocurrency-table .cryptocurrency-table--title, .cryptocurrency-table .cryptocurrency-table--title2
{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height. 2.3rem;
  color: var(--bitcoin-orange);
}
.cryptocurrency-table .cryptocurrency-table--title2
{
  color: var(--secondary-blue);
}
.cryptocurrency-table--title, .cryptocurrency-table--title2
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cryptocurrency-container
{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  display: grid;
  font-family: "Inter", sans-serif;
  grid-template-areas:
  "first-currency    first-value"
  "second-currency   second-value"
  "third-currency    third-value"
  "fourth-currency   fourth-value"
  ;
  gap: 1.3px;
}

.cryptocurrency, .cryptocurrency-value
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
.cryptocurrency-value
{
  color: var(--other-grey);
}
.cryptocurrency-value .trending-down, .cryptocurrency-value .trending-up
{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470830/responsive-design/assets/icons/trending-down_ik0nkx.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}
.cryptocurrency-value .trending-up
{
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470830/responsive-design/assets/icons/trending-up_ncq1io.svg");
}
/* Tabla en el orden de columna y luego en fila, sucesivamente */

/* Borde de la esquina superior izquierda*/
.cryptocurrency-bitcoin, .cryptocurrency-bitrade
{
  grid-area: first-currency;
  border-radius: 15px 0 0 0;
}
/* Borde de la esquina superior derecha*/
.cryptocurrency-bitcoin-value, .cryptocurrency-bitrade-value
{
  grid-area: first-value;
  border-radius: 0 15px 0 0;
}
.cryptocurrency-ethereum, .cryptocurrency-bitpreco
{
  grid-area: second-currency;
}
.cryptocurrency-ethereum-value, .cryptocurrency-bitpreco-value
{
  grid-area: second-value;
}
.cryptocurrency-ripple, .cryptocurrency-novadax
{
  grid-area: third-currency;
}
.cryptocurrency-ripple-value, .cryptocurrency-novadax-value
{
  grid-area: third-value;
}
/* Borde de la esquina inferior izquierda */
.cryptocurrency-stellar, .cryptocurrency-coinext
{
  grid-area: fourth-currency;
  border-radius: 0 0 0 15px;
}
/* Borde de la esquina inferior derecha*/
.cryptocurrency-stellar-value, .cryptocurrency-coinext-value
{
  grid-area: fourth-value;
  border-radius: 0 0 15px 0;
}
.cryptocurrency-table--date, .cryptocurrency-table--date2
{
  width: 215px;
  height: 30px;
  margin: 15px auto;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px
}
.cryptocurrency-table--date2
{
  background-color: var(--soft-blue);
}
.cryptocurrency-table--date p, .cryptocurrency-table--date2 p
{
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

/* Aquí empieza la segunda sección de main*/

.main-product-detail
{
  position: relative;
  width: 100%;
  min-width: 320px;   
  height: auto;
  padding: 20px 10px;
  background: var(--warm-black);
}
.product-detail--batata-logo
{
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url('https://res.cloudinary.com/dp852gaey/image/upload/v1685470828/responsive-design/assets/icons/batata_dy8ytk.svg');
}
.product-detail--title
{
  width: 90%; 
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product-detail--title h2
{
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product-detail--title p
{
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080; /* Color blanco con algo de gris*/
}
.product-detail--card
{
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow 0 4px 8px rgba(0 0 0 0 16);
}
.product-detail--card .clock, .product-detail--card .eye, .product-detail--card .symbol, .product-detail--card .check
{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .clock
{
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470828/responsive-design/assets/icons/clock_bjxdfi.svg");
}
.product-detail--card .eye
{
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470828/responsive-design/assets/icons/eye_emvtro.svg");
}
.product-detail--card .symbol
{
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470828/responsive-design/assets/icons/dollar-sign_nuougp.svg");
}
.product-detail--card .check
{
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470828/responsive-design/assets/icons/check-circle_bife9r.svg");
}
.product--card-title
{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product--card-body
{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080; /* Color blanco con gris*/ 
}
/* Aquí empieza la tercera o penúltima sección, la sección de la imagen*/

.bitcoin-img-container
{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470659/responsive-design/assets/img/bitcoinbaby2x_xigxkg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bitcoin-img-container h2
{
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

/* Aquí empieza la última sección de la sección main */

.main-plans-container
{
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  padding: 70px 0 70px 0;
  text-align: center;
}
.plans--title
{
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.plans--title h2
{
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans--title p
{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--other-grey);
}
.plans-container--card
{
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  /* En caso de que haya más cajas, esta es la forma de hacer scroll horizontal*/
  /* position: relative; En este caso ya tenemos esta propiedad arriba*/
  scroll-snap-align: center;
}
/* Slider: Control deslizante*/
/* En este caso, la siguiente clase funciona, pero dado que no
 * hay más cajas, solo hay una, no se vera visualmente esto*/
.plans-container--slider
{
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.recommended
{
  position: absolute;
  width: 120px;
  height: 31px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  padding: 6px;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  font-weight: bold;
  color: var(--just-white);
}
.plan-card--title
{
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card--price
{
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: var(--black);
}
.plan-card--price sup
{
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: 25px;
}
.plan-card--saving
{
  font-size: 1.2rem;
  color: var(--other-grey);
}
.plan-card--button
{
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card--button span
{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470830/responsive-design/assets/icons/orange-right-arrow_cou8x4.svg");
  vertical-align: text-bottom;
}
/*Aquí empieza la sección de footer, la última sección*/

.page-section-footer
{
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
.page-section-footer section
{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.page-section-footer ul
{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left
{
  list-style-type: none;
  margin: 10px 0;
}
.left a
{
  text-decoration: none;
  color: var(--just-white);
}
