/* Colores de los estilos de la página*/
:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
  --other-grey: #757575;
} 

*
{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
html
{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
/* Aquí empieza la maquetación de la página*/
.page-container
{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer"
  ;
}
.page-section 
{
  /*
  Colocaré algo aquí si hay algo repetido
  Generalmente en esta sección se coloca
  estilos que se repite en común con otras secciones
  como header, main, footer
  */
}

/* Aquí empieza los estilos del header*/

.page-section-header
{
  grid-area: header;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.page-section-header .logo
{
  width: 150px;
  height: 24px;
  margin-top: 60px; 
  align-self: center;
}
.header--title_container
{
  width: 90%;
  min-width: 228px;
  max-width: 900px;
  height: 218px;
  margin-top: 50px;
  text-align: center;
  align-self: center;
}
.header--title_container h1
{
  font-size: 2.4rem;  
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title_container p
{
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title_container .header--button
{
  position: absolute;
  top: calc(100% - 24px);
  left: calc(50% - 114.5px);
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Sombra del boton*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  padding-top: 15px;
}
.header--button span
{
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 8px;
  background-image: url('https://res.cloudinary.com/dp852gaey/image/upload/v1685470828/responsive-design/assets/icons/down-arrow_soikyv.svg');
}

/*
  Aquí empiezan los estilos de la sección main y terminan todos los estilos de header
  También empieza la primera sección de main.
 */
.page-section-main
{
  width: 100%;
  height: auto;
  background: var(--off-white);
}
.main-exchange-container
{
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title
{
  width: 90%;
  min-width: 228px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container .bitcoin-image
{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('https://res.cloudinary.com/dp852gaey/image/upload/v1685470658/responsive-design/assets/img/Bitcoin_va5jed.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container h2
{
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container p
{
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--other-grey);
}

/* Aquí empiezan la sección de tabla en main con la información de las criptomoneda
   Son 2 tablas en total
 */

.main-tables-container
{
}
.cryptocurrency-table
{
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  display: grid;
  font-family: "Inter", sans-serif;
}
.cryptocurrency-table .cryptocurrency-table--title, .cryptocurrency-table .cryptocurrency-table--title2
{
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height. 2.3rem;
  color: var(--bitcoin-orange);
}
.cryptocurrency-table .cryptocurrency-table--title2
{
  color: var(--secondary-blue);
}
.cryptocurrency-table--title, .cryptocurrency-table--title2
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cryptocurrency-container
{
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  display: grid;
  font-family: "Inter", sans-serif;
  grid-template-areas:
  "first-currency    first-value"
  "second-currency   second-value"
  "third-currency    third-value"
  "fourth-currency   fourth-value"
  ;
  gap: 1.3px;
}

.cryptocurrency, .cryptocurrency-value
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
.cryptocurrency-value
{
  color: var(--other-grey);
}
.cryptocurrency-value .trending-down, .cryptocurrency-value .trending-up
{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470830/responsive-design/assets/icons/trending-down_ik0nkx.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}
.cryptocurrency-value .trending-up
{
  background-image: url("https://res.cloudinary.com/dp852gaey/image/upload/v1685470830/responsive-design/assets/icons/trending-up_ncq1io.svg");
}
/* Tabla en el orden de columna y luego en fila, sucesivamente */

/* Borde de la esquina superior izquierda*/
.cryptocurrency-bitcoin, .cryptocurrency-bitrade
{
  grid-area: first-currency;
  border-radius: 15px 0 0 0;
}
/* Borde de la esquina superior derecha*/
.cryptocurrency-bitcoin-value, .cryptocurrency-bitrade-value
{
  grid-area: first-value;
  border-radius: 0 15px 0 0;
}
.cryptocurrency-ethereum, .cryptocurrency-bitpreco
{
  grid-area: second-currency;
}
.cryptocurrency-ethereum-value, .cryptocurrency-bitpreco-value
{
  grid-area: second-value;
}
.cryptocurrency-ripple, .cryptocurrency-novadax
{
  grid-area: third-currency;
}
.cryptocurrency-ripple-value, .cryptocurrency-novadax-value
{
  grid-area: third-value;
}
/* Borde de la esquina inferior izquierda */
.cryptocurrency-stellar, .cryptocurrency-coinext
{
  grid-area: fourth-currency;
  border-radius: 0 0 0 15px;
}
/* Borde de la esquina inferior derecha*/
.cryptocurrency-stellar-value, .cryptocurrency-coinext-value
{
  grid-area: fourth-value;
  border-radius: 0 0 15px 0;
}
.cryptocurrency-table--date, .cryptocurrency-table--date2
{
  width: 205px;
  height: 30px;
  margin: 15px auto;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px
}
.cryptocurrency-table--date2
{
  background-color: var(--soft-blue);
}
.cryptocurrency-table--date p, .cryptocurrency-table--date2 p
{
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

/* Aquí empieza la segunda sección de main*/

.page-section-footer
{
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-organge);
}
.page-section-footer section
{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.page-section-footer .left ul
{
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left li
{
  margin: 10px 0
}
.left a
{
  text-decoration: none;
  color: var(--just-white);
}
